/* Reset de estilo */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fuentes */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
}

/* Estilos generales */
h1 {
    text-align: center;
    color: #333;
    margin-top: 40px;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Header */
header {
    background-color: #633368;
    color: #fff;
    padding: 20px 0;
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    font-size: 1.8em;
    font-weight: bold;
}

/* Productos */
.products {
    padding: 40px 20px;
    background-color: #fff;
}

.product-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-items: center;
}

.product-card {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
    transition: transform 0.3s ease;
}

.product-card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.product-card:hover {
    transform: translateY(-5px);
}

.product-info h3 {
    font-size: 1.5em;
    color: #333;
    margin: 10px 0;
}

.product-info p {
    font-size: 1.2em;
    color: #f39c12;
}

.whatsapp-btn {
    display: inline-block;
    background-color: #25D366;
    color: white;
    padding: 10px 20px;
    border-radius: 30px;
    font-size: 1.1em;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

.whatsapp-btn:hover {
    background-color: #128C7E;
}

.whatsapp-btn i {
    margin-right: 10px;
}

/* Footer */
footer {
    background-color: #633368;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}

/* Media Queries */
@media (max-width: 768px) {
    .product-container {
        grid-template-columns: 1fr 1fr;
    }

    .product-card {
        width: 100%;
        padding: 15px;
    }

    h1 {
        font-size: 2em;
    }
}

@media (max-width: 480px) {
    .product-container {
        grid-template-columns: 1fr;
    }

    .product-card {
        width: 100%;
        padding: 15px;
    }

    .whatsapp-btn {
        font-size: 1em;
        padding: 8px 16px;
    }

    h1 {
        font-size: 1.8em;
    }

    .logo {
        font-size: 1.5em;
    }
}
